ul#jogadorEscolha li a ,
ul#computadorEscolha li a {
    opacity: 0.2;
    transition: ease-in-out 0.3s;
}

ul#jogadorEscolha li a:hover,
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado {
    opacity: 1;
}


body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxNDQxNTZ8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    background-size:100vw ;
    margin: 0;
    padding: 0;
  }
  
  #principal {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 150px;
  }
  
  #titulo {
    text-align: center;
    color: #ffffff;
  }
  
  #placar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: #ffffff10;
    border-radius: 10px;
    padding: 40px;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(1px);
  }
  
  #jogador,
  #computador {
    text-align: center;
  }
  
  #jogadorNome,
  #computadorNome {
    margin: 5px 0;
    color: white;
  }
  
  #jogadorEscolha,
  #computadorEscolha {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #jogadorEscolha li,
  #computadorEscolha li {
    margin: 0 10px;
  }
  
  #mensagem {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #d9534f;
  }
  

  #jogadorEscolha img,
  #computadorEscolha img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
  }
  
 
  #versus {
    font-size: 24px;
    color: #333;
    margin: 0 20px;
  }